In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle
from bs4 import BeautifulSoup

In [2]:
tablas = pd.read_html("https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")  
dict_tablas = {}
tablas[9].columns #consulto cuales son las columnas del dataframe para cambiarle el nombre a los que no son muy especificos
tablas[9].columns[1] #identifico que en la columna 1 Teamvte puede ser cambiado por solo team y Qualification puede ser borrado
# En la posicion 9 esta la primer tabla de grupo A, luego en la 16 el grupo B y asi +7 hasta el grupo H que esta en la posicion 58tab

for letter, i in zip(alphabet, range(9, 59, 7)):
    df = tablas[i] 
    df.rename(columns = {df.columns[1] : 'Team'}, inplace=True) #inplace permite guardar los cambios que se van haciendo
    #df.pop('Qualification') elimino la columna Qualification
    dict_tablas[f'Grupo {letter}'] = df

In [3]:
dict_tablas['Grupo H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [10]:
with open('dict_table', 'wb') as output: #esto es para guardar todo lo de dict_tablas en output
    pickle.dump(dict_tablas, output)